{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
    <h1>Audit Results - <a href="/jellyfish/display/v2/auditinfo/{{ audit_id }}/">{{ content["meta"]["audit_name"] }}</a></h1>
    <div id="graphs">
        <div class="pager">
            <script>

	            var default_data= [ {% for host in content["data"] %} [ "{{ host["attributes"]["hostname"]|lower }}" , "{{ host["attributes"]["pop"] }}", "{{ host["attributes"]["srvtype"] }}", "{{ host["attributes"]["bucket"] }}", "{{ host["attributes"]["audit_result"] }}", "{{ host["attributes"]["audit_result_text"] }}" ] , {% endfor %}	]

	            Console.log(default_data)

	            function drawCharts(ChartTitle, divname, data, column, columnname, hide, expand){

		            title = [ ChartTitle + " Pie " , ChartTitle + " Line" ]
		            divnames = [ divname + "-pie", divname + "-hist" ]
		            // column is the same
		            data_array_item=countitems(data, column, columnname)

		            if ( expand == "FALSE" ) {
			            widthpx = [ 370, 800 ]
			            heightpx = [ 200, 200 ]
			            document.getElementById(divnames[0]).style.cssFloat="left"
			            document.getElementById(divnames[0]).style.cssFloat="right"
		            } else {
			            widthpx = [ 1170, 1170 ]
			            heightpx = [ 700, 700 ]
			            document.getElementById(divnames[0]).style.cssFloat="none"
			            document.getElementById(divnames[0]).style.cssFloat="none"
		            }

		            drawPieChart(title[0], divnames[0],  data_array_item, widthpx[0], heightpx[0])

		            drawBarChart(title[1], divnames[1],  data_array_item, widthpx[1], heightpx[1])

		            if ( hide == "TRUE" ) {
			            toggleDiv(divname)
		            }
	            }

	            function drawPieChart(ChartTitle, divname, arrayObject, widthpx, heightpx){

		            var data = google.visualization.arrayToDataTable(arrayObject)

		            var options = {
			            title: ChartTitle,
			            width: widthpx,
			            height: heightpx
		            }

		            var chart = new google.visualization.PieChart(document.getElementById(divname))

		            chart.draw(data, options);

	            }

	            function drawBarChart(ChartTitle, divname, arrayObject, widthpx, heightpx){

		            var data = google.visualization.arrayToDataTable(arrayObject)

		            var options = {
			            title: ChartTitle,
			            width: widthpx,
			            height: heightpx
		            }

		            var chart = new google.visualization.BarChart(document.getElementById(divname))

		            chart.draw(data, options);

	            }


            </script>

	        <ul>
		        <li><a id='bypoptoggle' href="javascript:drawCharts('By Pop', 'bypopgraph', default_data, 1, 'POP', 'TRUE', 'FALSE')" >Results By Pop</a></li>
		        <li><a id='bysrvtypetoggle' href="javascript:drawCharts('By Srvtype', 'bysrvtypegraph', default_data, 2, 'SRVTYPE', 'TRUE', 'FALSE')" >Results By Srvtype</a></li>
		        <li><a id='bybuckettoggle' href="javascript:drawCharts('By Bucket', 'bybucketgraph', default_data, 3, 'BUCKET', 'TRUE', 'FALSE')" >Results By Bucket</a></li>
		        <li><a id='bypftoggle' href="javascript:drawCharts('By P-F Text', 'bypfgraph', default_data, 4, 'TEXT', 'TRUE', 'FALSE')" >Results By P-F</a></li>
		        <li><a id='bytexttoggle' href="javascript:drawCharts('By Result Text', 'bytextgraph', default_data, 5, 'TEXT', 'TRUE', 'FALSE')" >Results By Text</a></li>
	        </ul>
        </div>
        <div id="bypopgraph" style="display:none;">
	        <div id="graphcontrols-pop">
		        <a href="javascript:drawCharts('By Pop', 'bypopgraph', default_data, 1, 'POP', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
		        <a href="javascript:drawCharts('By Pop', 'bypopgraph', default_data, 1, 'POP', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
	        </div>
	        <div id="graphs-meat-pop">
		        <div id="bypopgraph-pie"></div>
		        <div id="bypopgraph-hist"></div>
	        </div>
        </div>
	    <div id="bysrvtypegraph" style="display:none;">
		    <div id="graphcontrols-srvtype">
			    <a href="javascript:drawCharts('By Srvtype', 'bysrvtypegraph', default_data, 2, 'SRVTYPE', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
			    <a href="javascript:drawCharts('By Srvtype', 'bysrvtypegraph', default_data, 2, 'SRVTYPE', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
		    </div>
		    <div id="graphs-meat-srvtype">
			    <div id="bysrvtypegraph-pie"></div>
			    <div id="bysrvtypegraph-hist"></div>
		    </div>
	    </div>
	    <div id="bybucketgraph" style="display:none;">
		    <div id="graphcontrols-bucket">
			    <a href="javascript:drawCharts('By Bucket', 'bybucketgraph', default_data, 3, 'BUCKET', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
			    <a href="javascript:drawCharts('By Bucket', 'bybucketgraph', default_data, 3, 'BUCKET', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
		    </div>
		    <div id="graphs-meat-bucket">
			    <div id="bybucketgraph-pie"></div>
			    <div id="bybucketgraph-hist"></div>
		    </div>
	    </div>
	    <div id="bypfgraph" style="display:none;">
		    <div id="graphcontrols-text">
			    <a href="javascript:drawCharts('By Result Text', 'bypfgraph', default_data, 4, 'VERSION', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
			    <a href="javascript:drawCharts('By Result Text', 'bypfgraph', default_data, 4, 'VERSION', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
		    </div>
		    <div id="graphs-meat-text">
			    <div id="bypfgraph-pie"></div>
			    <div id="bypfgraph-hist"></div>
		    </div>
	    </div>
	    <div id="bytextgraph" style="display:none;">
		    <div id="graphcontrols-text">
			    <a href="javascript:drawCharts('By P-F Text', 'bytextgraph', default_data, 5, 'VERSION', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
			    <a href="javascript:drawCharts('By P-F Text', 'bytextgraph', default_data, 5, 'VERSION', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
		    </div>
		    <div id="graphs-meat-text">
			    <div id="bytextgraph-pie"></div>
			    <div id="bytextgraph-hist"></div>
		    </div>
	    </div>
    </div>
    <div id="data_div">
		<table id="audits_display_table" class="display" width="100%">
			<thead>
				<tr>
					<td>Hostname</td>
					<td>Pop</td>
					<td>SrvType</td>
					<td>Bucket</td>
					<td>Audit Result</td>
					<td>Audit Result Text</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td>Hostname</td>
					<td>Pop</td>
					<td>SrvType</td>
					<td>Bucket</td>
					<td>Audit Result</td>
					<td>Audit Result Text</td>
				</tr>
			</tfoot>
			<tbody>
				{% for host in content["data"] %}
				<tr>
					<td><a href="/jellyfish/display/v2/hostcollections/{{ host["attributes"]["fk_host_id"] }}/" />{{ host["attributes"]["hostname"]|lower }}</a></td>
					<td>{{ host["attributes"]["pop"] }}</td>
					<td>{{ host["attributes"]["srvtype"] }}</td>
					<td>{{ host["attributes"]["bucket"] }}</td>
					<td>{{ host["attributes"]["audit_result"] }}</td>
					<td>{{ host["attributes"]["audit_result_text"] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<script>
			// Prettyize the Table
			$(document).ready(function() {

				$('#audits_display_table tfoot tr td').each( function () {
					var title = $(this).text();
					//console.log(title)
					$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
				} );

				var table = $('#audits_display_table').DataTable({
					dom: 'Bfrtip',
					buttons: [
						'copy', 'csv', 'excel', 'pdf', 'print'
					]
				} );

				table.columns().every( function () {
					var that = this;
					$( 'input', this.footer() ).on( 'keyup change', function () {
						if ( that.search() !== this.value ) {
							that
								.search( this.value )
								.draw();
								default_data=table.rows({ search: 'applied' }).data().toArray()
						}
					} );
				} );



			} );

		</script>
    </div>
    {% include 'endpoint_link.html' %}
</div>

{% include 'base_footer.html' %}
