{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
<h1>Collected Search </h1>
<script type="text/javascript">
function do_search(){
	base_url="{{ g.config_items["v2ui"]["preroot"] }}{{ g.config_items["v2ui"]["root"] }}/collected/values/?"
	querydata = {
		"ctype" : $('#ctype').val(),
		"csubtype" : $('#csubtype').val(),
		"hostname" : $('#hostname').val(),
		"pop" : $('#pop').val(),
		"srvtype" : $('#srvtype').val(),
		"value" : $('#value').val(),
		"status" : $('#status').val(),
	}
	query_string = ""
	for (var key in querydata){
		if (querydata[key].length > 0 ){
			query_string=query_string+key+"='"+querydata[key]+"'&"
		}
	}
	url=base_url + query_string
	$(location).attr('href',url)
}
</script>
<form id="SearchForm" method="POST">
<div class="row form-group">
    <div class="col-sm-4">
        <label for="ctype">Type (Req.) :</label>
        <input id="ctype" type="text" name="ctype" value="{{ ctype }}" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label for="csubtype">Subtype (Req.) :</label>
        <input id="csubtype" type="text" name="csubtype" value="{{ csubtype }}" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label for="hostname">Hostname :</label>
        <input id="hostname" type="text" name="hostname" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label for="status">Status :</label>
        <input id="status" type="text" name="status" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label for="pop">Pop :</label>
        <input id="pop" type="text" name="pop" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label for="srvtype">Srvtype :</label>
        <input id="srvtype" type="text" name="srvtype" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <label for="value">Value :</label>
        <input id="value" type="text" name="value" class="form-control ember-text-field">
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-4">
        <input type="button" value="Search" onclick="do_search()" class="form-control ember-button-field">
    </div>
</div>
</form>
</div>


{% include 'base_footer.html' %}
