{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="{{ g.config_items["v2ui"]["preroot"] }}/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
    google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
<h1>Modify Custom Dashboard</h1>
<script>
// In theory this should move items left and right
// Almost straight Jacking it from here :
// http://www.jquerybyexample.net/2012/05/how-to-move-items-between-listbox-using.html

save_needed_src="{{ g.config_items["v2ui"]["preroot"] }}{{ url_for('static', filename='img/needtosave.png') }}"

$(document).ready(function() {
    $('#doadd').click(function(e) {
	var selectedOpts = $('#remove_audits option:selected');
	if (selectedOpts.length == 0) {
	    //alert("Nothing to move.");
	    e.preventDefault();
	}

	$('#add_audits').append($(selectedOpts).clone());
	$(selectedOpts).remove();

	$("#status").attr("src", save_needed_src)
	e.preventDefault();
    });

    $('#doremove').click(function(e) {
	var selectedOpts = $('#add_audits option:selected');
	if (selectedOpts.length == 0) {
	    //alert("Nothing to move.");
	    e.preventDefault();
	}

	$('#remove_audits').append($(selectedOpts).clone());
	$(selectedOpts).remove();

	$("#status").attr("src", save_needed_src)
	e.preventDefault();
    });
});

function makeitso() {

	redirect_endpoint="{{ g.config_items["v2api"]["preroot"] }}{{ g.config_items["v2api"]["root"] }}/custdashboard/modify/?dash_id="

	dash_id={{ dash_id }}

	redirect_endpoint=redirect_endpoint + dash_id

	add_list=new Array() ;


	$("#add_audits option").each(function(){
		this_add = $(this).attr("id")
		add_list.push(parseInt(this_add))
	})

	remove_list = new Array();

	$("#remove_audits option").each(function(){
		this_add = $(this).attr("id")
		remove_list.push(parseInt(this_add))
	})

	modify_order={}
	modify_order["add"] = add_list ;
	modify_order["remove"] = remove_list ;
	modify_order_value_raw = JSON.stringify(modify_order)

	redirect_endpoint = redirect_endpoint + "&modifyorder=" + modify_order_value_raw

	// Do the things hopefully this works.
	$.getJSON(redirect_endpoint, function(data, success, xhr){
		console.log(data)
		console.log(success)
		if ("errors" in data) {
			// do errorr stuff
			error_src="{{ g.config_items["v2ui"]["preroot"] }}{{ url_for('static', filename='img/failed.png') }}"
			$("#status").attr("src", error_src)
		} else if ( "data" in data) {
			// do success stuff
			success_src="{{ g.config_items["v2ui"]["preroot"] }}{{ url_for('static', filename='img/changegud.png') }}"
			$("#status").attr("src", success_src)
		}
		console.log(xhr)
	})

}
</script>

<ul>
	<li>Dashboard Name : {{ dashboard["data"][0]["attributes"]["dashboard_name"] }}</li>
	<li>Dashboard Owner : {{ dashboard["data"][0]["attributes"]["owner"] }}</li>
	<li><a href="{{ g.config_items["v2ui"]["preroot"] }}/display/v2/dashboard/{{ dash_id }}/">View Dashboard</a></li>
</ul>
<table>
<form>
    <div class="row form-group">
        <div class="col-sm-4">
            <label for="remove_audits">Available Audits</label>
	        <select id="remove_audits" multiple="" class="form-control ember-select-field">
		        {% for audit in avail_audits %}
		        <option id="{{ audit["id"] }}" class="form-control ember-option-field">{{ audit["id"] }} - {{ audit["attributes"]["audit_name"] }}</option>
		        {% endfor %}
	        </select>
        </div>
        <div class="col-sm-2">
            <br/>
            <br/>
            <input type="button" id="doadd" value="Add Selected"/><br/>
            <input type="button" id="doremove" value="Del Selected"/>
        </div>
        <div class="col-sm-4">
            <label for="add_audits">Current Audits:</label>
            <select id="add_audits" multiple="" class="form-control ember-select-field">
                {% for caudit in current_audits %}
                <option id="{{ caudit["attributes"]["fk_audits_id"] }}" class="form-control ember-option-field">{{ caudit["attributes"]["fk_audits_id"] }} - {{ caudit["attributes"]["audit_name"] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div id="piccard" class="col-sm-8">
            <input type="button" id="submit" value="Make it So" onclick="makeitso();" class="form-control ember-input-field"/>
            <img id="status" src="{{ g.config_items["v2ui"]["preroot"] }}{{ url_for('static', filename='img/nochanges.png') }}" height="24">
        </div>
    </div>

</form>
</div>


{% include 'base_footer.html' %}
