{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="{{ g.config_items["v2ui"]["preroot"] }}/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
<h1>Host Search Results</h1>
{% if content["data"]|length >= 1 %}
    <div id="data_div">
	    <table id="hostresultslist" class="display" width="100%">
		    <thead>
			    <tr>
				    <td>Hostname</td>
				    <td>Status</td>
				    <td>Pop</td>
				    <td>Srvtype</td>
				    <td>Last Seen</td>
			    </tr>
		    </thead>
		    <tfoot>
			    <tr>
				    <td>Hostname</td>
				    <td>Status</td>
				    <td>Pop</td>
				    <td>Srvtype</td>
				    <td>Last Seen</td>
			    </tr>
		    </tfoot>
		    <tbody>
			    {% for collection in content["data"] %}
			    <tr>
				    <td><a href="{{ g.config_items["v2ui"]["preroot"] }}/display/v2/hostcollections/{{ collection["attributes"]["host_id"] }}/">{{ collection["attributes"]["hostname"]|lower }}</a></td>
				    <td>{{ collection["attributes"]["hoststatus"] }}</td>
				    <td>{{ collection["attributes"]["pop"] }}</td>
				    <td>{{ collection["attributes"]["srvtype"] }}</td>
				    <td>{{ collection["attributes"]["last_update"]|ctime }}</td>
			    </tr>
			    {% endfor %}
		    </tbody>
	    </table>
	    <script>
		    // Prettyize the Table
		    $(document).ready(function() {

			    $('#hostresultslist tfoot tr td').each( function () {
				    var title = $(this).text();
				    //console.log(title)
				    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
			    } );

			    var table = $('#hostresultslist').DataTable({
				    dom: 'Bfrtip',
				    buttons: [
					    'copy', 'csv', 'excel', 'pdf', 'print'
				    ]
			    } );

			    table.columns().every( function () {
				    var that = this;
				    $( 'input', this.footer() ).on( 'keyup change', function () {
					    if ( that.search() !== this.value ) {
						    that
							    .search( this.value )
							    .draw();
							    default_data=table.rows({ search: 'applied' }).data().toArray()
					    }
				    } );
			    } );



		    } );

	    </script>
    </div>
{% else %}
    <p>No Results Found</p>
{% endif %}
{% include 'endpoint_link.html' %}
</div>


{% include 'base_footer.html' %}
