{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
<h1>Host Collections - {{ content["meta"]["host_information"]["hostname"] }} (#{{ host_id }})</h1>
	<div id="graphs">
		<div class="pager">
			<script>

				var default_data= [ {% for host in content["data"] %} [ "{{ host["attributes"]["collection_id"]|lower }}" , "{{ host["attributes"]["collection_type"] }}", "{{ host["attributes"]["collection_subtype"] }}", "{{ host["attributes"]["collection_value"] }}", "{{ host["attributes"]["initial_update"]|ctime }}",  "{{ host["attributes"]["last_update"]|ctime }}" ] , {% endfor %}	]

				function drawCharts(ChartTitle, divname, data, column, columnname, hide, expand){

					title = [ ChartTitle + " Pie " , ChartTitle + " Line" ]
					divnames = [ divname + "-pie", divname + "-hist" ]
					// column is the same
					data_array_item=countitems(data, column, columnname)

					if ( expand == "FALSE" ) {
						widthpx = [ 370, 800 ]
						heightpx = [ 200, 200 ]
						document.getElementById(divnames[0]).style.cssFloat="left"
						document.getElementById(divnames[0]).style.cssFloat="right"
					} else {
						widthpx = [ 1170, 1170 ]
						heightpx = [ 700, 700 ]
						document.getElementById(divnames[0]).style.cssFloat="none"
						document.getElementById(divnames[0]).style.cssFloat="none"
					}

					drawPieChart(title[0], divnames[0],  data_array_item, widthpx[0], heightpx[0])

					drawBarChart(title[1], divnames[1],  data_array_item, widthpx[1], heightpx[1])

					if ( hide == "TRUE" ) {
						toggleDiv(divname)
					}
				}

				function drawPieChart(ChartTitle, divname, arrayObject, widthpx, heightpx){

					var data = google.visualization.arrayToDataTable(arrayObject)

					var options = {
						title: ChartTitle,
						width: widthpx,
						height: heightpx
					}

					var chart = new google.visualization.PieChart(document.getElementById(divname))

					chart.draw(data, options);

				}

				function drawBarChart(ChartTitle, divname, arrayObject, widthpx, heightpx){

					var data = google.visualization.arrayToDataTable(arrayObject)

					var options = {
						title: ChartTitle,
						width: widthpx,
						height: heightpx
					}

					var chart = new google.visualization.BarChart(document.getElementById(divname))

					chart.draw(data, options);

				}


			</script>

			<ul>
				<li><a id='bytypetoggle' href="javascript:drawCharts('By Type', 'bytypegraph', default_data, 1, 'TYPE', 'TRUE', 'FALSE')" >Results By Type</a></li>
				<li><a id='bysubtypetoggle' href="javascript:drawCharts('By SubType', 'bysubtypegraph', default_data, 2, 'SUBTYPE', 'TRUE', 'FALSE')" >Results By Subtype</a></li>
				<li><a id='byvaluetoggle' href="javascript:drawCharts('By Value', 'byvaluegraph', default_data, 3, 'VALUE', 'TRUE', 'FALSE')" >Results By Value</a></li>
			</ul>
			<center>
			<table class="table table-bordered table-striped">
				<tr>
					<th class="table-header">Uber Status</th>
					<th class="table-header">Last Update</th>
					<th class="table-header">POP</th>
					<th class="table-header">Srvtype</th>
				</tr>
				<tr>
					<td>{{ content["meta"]["host_information"]["hoststatus"] }}</td>
					<td>{{ content["meta"]["host_information"]["last_update"]|ctime }}</td>
					<td>{{ content["meta"]["host_information"]["pop"] }}</td>
					<td>{{ content["meta"]["host_information"]["srvtype"] }}</td>
				</tr>
			</table>
			</center>
		</div>
		<div id="bytypegraph" style="display:none;">
			<div id="graphcontrols-type">
				<a href="javascript:drawCharts('By Type', 'bytypegraph', default_data, 1, 'TYPE', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
				<a href="javascript:drawCharts('By Type', 'bytypegraph', default_data, 1, 'TYPE', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
			</div>
			<div id="graphs-meat-type">
				<div id="bytypegraph-pie"></div>
				<div id="bytypegraph-hist"></div>
			</div>
		</div>
		<div id="bysubtypegraph" style="display:none;">
			<div id="graphcontrols-subtype">
				<a href="javascript:drawCharts('By SubType', 'bysubtypegraph', default_data, 2, 'SUBTYPE', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
				<a href="javascript:drawCharts('By SubType', 'bysubtypegraph', default_data, 2, 'SUBTYPE', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
			</div>
			<div id="graphs-meat-subtype">
				<div id="bysubtypegraph-pie"></div>
				<div id="bysubtypegraph-hist"></div>
			</div>
		</div>
		<div id="byvaluegraph" style="display:none;">
			<div id="graphcontrols-value">
				<a href="javascript:drawCharts('By Value', 'byvaluegraph', default_data, 3, 'VALUE', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
				<a href="javascript:drawCharts('By Value', 'byvaluegraph', default_data, 3, 'VALUE', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
			</div>
			<div id="graphs-meat-value">
				<div id="byvaluegraph-pie"></div>
				<div id="byvaluegraph-hist"></div>
			</div>
		</div>
	</div>
    <div id="data_div">
	    <table id="hostcollections_table" width="100%">
		    <thead>
			    <tr>
				    <td>Collection ID</td>
				    <td>Type</td>
				    <td>SubType</td>
				    <td>Value</td>
				    <td>Initial Update</td>
				    <td>Last Update</td>
			    </tr>
		    </thead>
		    <tfoot>
			    <tr>
				    <td>Collection ID</td>
				    <td>Type</td>
				    <td>SubType</td>
				    <td>Value</td>
				    <td>Initial Update</td>
				    <td>Last Update</td>
			    </tr>
		    </tfoot>
		    <tbody>
			    {% for host in content["data"] %}
			    <tr>
				    <td>{{ host["attributes"]["collection_id"]|lower }}</td>
				    <td>{{ host["attributes"]["collection_type"] }}</td>
				    <td>{{ host["attributes"]["collection_subtype"] }}</td>
				    <td>{{ host["attributes"]["collection_value"] }}</td>
				    <td>{{ host["attributes"]["initial_update"]|ctime }}</td>
				    <td>{{ host["attributes"]["last_update"]|ctime }}</td>
			    </tr>
			    {% endfor %}
		    </tbody>
	    </table>
	    <script>
		    // Prettyize the Table
		    $(document).ready(function() {

			    $('#hostcollections_table tfoot tr td').each( function () {
				    var title = $(this).text();
				    //console.log(title)
				    $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
			    } );

			    var table = $('#hostcollections_table').DataTable({
				    dom: 'Bfrtip',
				    buttons: [
                        'copy',
                        'excel',
                        'csv',
                        'pdf'
				    ]
			    } );

			    table.columns().every( function () {
				    var that = this;
				    $( 'input', this.footer() ).on( 'keyup change', function () {
					    if ( that.search() !== this.value ) {
						    that
							    .search( this.value )
							    .draw();
							    default_data=table.rows({ search: 'applied' }).data().toArray()
					    }
				    } );
			    } );
		    } );
	    </script>
    </div>
    {% include 'endpoint_link.html' %}
</div>

{% include 'base_footer.html' %}
