{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
<h1>VIP Hosts Results</h1>
<p>Hosts behind vip {{ meta["this_vip"] }} that listen on {{ meta["this_port"] }}/{{ meta["this_protocol"] }} over IPv{{ meta["this_ipv"] }}</p>
	{% if content["data"]|length >= 1 %}
	<div id="graphs">
		<div class="pager">
			<script>

				var default_data= [ {% for collection in content["data"] -%}
															[ "{{ collection['attributes']['hostname']|lower }}" , "{{ collection['attributes']['pop'] }}", "{{ collection['attributes']['srvtype'] }}", "{{ collection['attributes']['initial_update']|ctime }}",  "{{ collection['attributes']['last_update']|ctime }}" ] ,
													{% endfor -%}	]

				Console.log(default_data)

				function drawCharts(ChartTitle, divname, data, column, columnname, hide, expand){

					title = [ ChartTitle + " Pie " , ChartTitle + " Line" ]
					divnames = [ divname + "-pie", divname + "-hist" ]
					// column is the same
					data_array_item=countitems(data, column, columnname)

					if ( expand == "FALSE" ) {
						widthpx = [ 370, 800 ]
						heightpx = [ 200, 200 ]
						document.getElementById(divnames[0]).style.cssFloat="left"
						document.getElementById(divnames[0]).style.cssFloat="right"
					} else {
						widthpx = [ 1170, 1170 ]
						heightpx = [ 700, 700 ]
						document.getElementById(divnames[0]).style.cssFloat="none"
						document.getElementById(divnames[0]).style.cssFloat="none"
					}

					drawPieChart(title[0], divnames[0],  data_array_item, widthpx[0], heightpx[0])

					drawBarChart(title[1], divnames[1],  data_array_item, widthpx[1], heightpx[1])

					if ( hide == "TRUE" ) {
						toggleDiv(divname)
					}
				}

				function drawPieChart(ChartTitle, divname, arrayObject, widthpx, heightpx){

					var data = google.visualization.arrayToDataTable(arrayObject)

					var options = {
						title: ChartTitle,
						width: widthpx,
						height: heightpx
					}

					var chart = new google.visualization.PieChart(document.getElementById(divname))

					chart.draw(data, options);

				}

				function drawBarChart(ChartTitle, divname, arrayObject, widthpx, heightpx){

					var data = google.visualization.arrayToDataTable(arrayObject)

					var options = {
						title: ChartTitle,
						width: widthpx,
						height: heightpx
					}

					var chart = new google.visualization.BarChart(document.getElementById(divname))

					chart.draw(data, options);

				}


			</script>
			<ul>
				<li><a id='bypoptoggle' href="javascript:drawCharts('By Pop', 'bypopgraph', default_data, 1, 'POP', 'TRUE', 'FALSE')" >Results By POP</a></li>
				<li><a id='bysrvtypetoggle' href="javascript:drawCharts('By SrvType', 'bysrvtypegraph', default_data, 2, 'SRVTYPE', 'TRUE', 'FALSE')" >Results By Srvtype</a></li>
			</ul>
		</div>
		<div id="bysrvtypegraph" style="display:none;">
			<div id="graphcontrols-value">
				<a href="javascript:drawCharts('By SrvType', 'bysrvtypegraph', default_data, 2, 'VALUE', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
				<a href="javascript:drawCharts('By SrvType', 'bysrvtypegraph', default_data, 2, 'VALUE', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
			</div>
			<div id="graphs-meat-value">
				<div id="bysrvtypegraph-pie"></div>
				<div id="bysrvtypegraph-hist"></div>
			</div>
		</div>
		<div id="bypopgraph" style="display:none;">
			<div id="graphcontrols-value">
				<a href="javascript:drawCharts('By Pop', 'bypopgraph', default_data, 1, 'VALUE', 'FALSE', 'FALSE')" ><img src="/jellyfish/static/img/refresh.png" /></a>
				<a href="javascript:drawCharts('By Pop', 'bypopgraph', default_data, 1, 'VALUE', 'FALSE', 'TRUE')" ><img src="/jellyfish/static/img/expand.png" /></a>
			</div>
			<div id="graphs-meat-value">
				<div id="bypopgraph-pie"></div>
				<div id="bypopgraph-hist"></div>
			</div>
		</div>
	</div>
	<div id="data_div">
		<table id="collectedvalues_table" class="display" width="100%">
			<thead>
				<tr>
					<td>Host</td>
					<td>POP</td>
					<td>Srvtype</td>
					<td>Initial Update</td>
					<td>Last Update</td>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td>Host</td>
					<td>POP</td>
					<td>Srvtype</td>
					<td>Initial Update</td>
					<td>Last Update</td>
				</tr>
			</tfoot>
			<tbody>
				{% for collection in content["data"] %}
				<tr>
					<td><a href="/jellyfish/display/v2/hostcollections/{{ collection["attributes"]["host_id"] }}/">{{ collection["attributes"]["hostname"]|lower }}</a></td>
					<td>{{ collection["attributes"]["pop"] }}</td>
					<td>{{ collection["attributes"]["srvtype"] }}</td>
					<td>{{ collection["attributes"]["initial_update"]|ctime }}</td>
					<td>{{ collection["attributes"]["last_update"]|ctime }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<script>
			// Prettyize the Table
			$(document).ready(function() {

				$('#collectedvalues_table tfoot tr td').each( function () {
					var title = $(this).text();
					//console.log(title)
					$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
				} );

				var table = $('#collectedvalues_table').DataTable({
					dom: 'Bfrtip',
					buttons: [
						'copy', 'csv', 'excel', 'pdf', 'print'
					]
				} );

				table.columns().every( function () {
					var that = this;
					$( 'input', this.footer() ).on( 'keyup change', function () {
						if ( that.search() !== this.value ) {
							that
								.search( this.value )
								.draw();
								default_data=table.rows({ search: 'applied' }).data().toArray()
						}
					} );
				} );



			} );

		</script>
    </div>
    {% else %}
        <p>No Results Found</p>
    {% endif %}
    {% include 'endpoint_link.html' %}
</div>


{% include 'base_footer.html' %}
