---
openapi: 3.0.0
info:
  title: Jellyfish 2 API
  description: |
    Jellyfish 2 API. Designed to be a progrmattic way to interact with the data
    collected and analyzed by Jellyfish 2.
  version: "2.0"
servers:
  - url: https://manowar.yourfqdn.tld/manowar/v2
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
security:
  - basicAuth: []
paths:
{% for endpoint in swagger_pieces %}
  {{ endpoint["text"] | indent(2, True)}}
{% endfor %}
