.pkg-cell {
  margin-left:auto;
  margin-right:auto;
  border:2px solid #6F6F6F;   position:relative; }

.pkg-header {
  margin-left:auto;
  margin-right:auto;
  font-weight: bold;
  border:2px solid #6F6F6F;   position:relative; }

.indent {
margin-left:4em;
margin-right: 4em;}

.graphs div ul li {
   display:inline-block;
}

