---
hostinfo:
  externalid: 10001
  pop: location
  srvtype: srvtype
  status: status
sapi:
  #sapi_endpoint: "https://sapi.manowar.example.com/"
  sapi_endpoint: "https://sapi.manowar.example.com/"
  sapi_token: InsertToken
  sapi_username: ChangeMe
stingcell:
  #collection_use_api: true
  collection_use_api: false
  default_collection_timeout: 60
  local_collections: false
  local_collections_location: /etc/stingcell/collections.d/
  collection_config_file: etc/stingcell/collector2.yaml.sample
ipintel:
  dointel: true
version: 3
salt:
  minion_file: etc/stingcell/minion
