[default]

; 
; Sample StingCell Config File
; 

; Not currently used
version=2

[hostinfo]

;
; Will be replaced with "N/A" if Can't be found elsewhere
;
; pop = pop
; srvtype = srvtype
; uberid = uberid

;
; Will be replaced by `my-uber-status` and if that's not available
; we will assume the worst case (that the system is in prod).
;
; status = status


[sapi]

;
; DNS Name where sapi is at, ends with
;

sapi_endpoint="https://sapi.jellyfish.edgecast.com/"

;
; In Order to work you must set sapi_username & sapi_token
;
; sapi_username="ChangeMe"
; sapi_token="InsertToken"

[stingcell]

; Timeout, how many seconds to allow a collection to try to run before moving onwards.
; Default is 1 Minutes. Individual collections can configure a longer timeout period
; if needed. If you system is regularly under high load (or is an embeded system) you 
; may wish to consider adding a higher timeout threshold.

default_collection_timeout=60

;
; Wether to use the collection API or not True/False
; When this is set to true it will use the config served
; by the endpoint in the sapi section
; 
collection_use_api=True

;
; Optionally, if you desire you can control your collection configuration
; yourself. Set collection_use_api to False and you will be able to speicfy
; your own ini file.
;
; collection_config_file="/path/to/collection.ini"

;
; Even if you're using api collections, you can override & extend collections
; with various configuration files. Store your collections in individual or
; multiple ini files in these directories
;
; Defautl is no local collections
;

; local_collections=True
; local_collections_location="/etc/stingcell/collections.d/"
