{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<div class="container">
    <div class="row row-eq-height">
        <div class="col-md-12">
            <div class="page-header">
                <h3>By Audit - {{ audit_text|upper }}</h3>
            </div>
            <div class="row placeholders">
                <div id="data_div">
					<table id="byaudittable" class="display" width="100%">
						<thead>
							<tr>
								<td>Audit</td>
								<td>Failed</td>
								<td>Passed</td>
								<td>Exempt</td>
								<td>Initial Audit</td>
								<td>Last Audit</td>
							</tr>
						</thead>
						<tbody>
							{% for acoll_result in acoll_results %}
							<tr>
								<td><a href='/jellyfish/display/audit/{{ acoll_result["fk_audits_id"] }}/'>{{ acoll_result["acoll_text"]|upper }}</a></td>
								<td>{{ acoll_result["acoll_failed"] }}</td>
								<td>{{ acoll_result["acoll_passed"] }}</td>
								<td>{{ acoll_result["acoll_exempt"] }}</td>
								<td>{{ acoll_result["acoll_initial_audit"] | ctime }}</td>
								<td>{{ acoll_result["acoll_last_audit"] | ctime }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<script>
						// Prettyize the Table
						$(document).ready(function() {
							$('#byaudittable').DataTable();
						} );
					</script>
					</table>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base_footer.html' %}
