{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<div class="container">
    <div class="row row-eq-height">
        <div class="col-md-12">
            <div class="page-header">
                <h3>By Pop - {{ pop_text }} </h3>
            </div>
            <div class="row placeholders">
                <div id="data_div">
					<table id="bypoptable" class="display" width="100%">
						<thead>
							<tr>
								<td>POP</td>
								<td>Audit</td>
								<td>Failed</td>
								<td>Passed</td>
								<td>Exempt</td>
								<td>Initial Audit</td>
								<td>Last Audit</td>
							</tr>
						</thead>
						<tbody>
							{% for pop_result in pop_results %}
							<tr>
								<td><a href='/jellyfish/display/bypop/{{ pop_result["pop_text"] }}/'>{{ pop_result["pop_text"]|upper }}</a></td>
								<td><a href='/jellyfish/display/audit/{{ pop_result["fk_audits_id"] }}/'>{{ pop_result["fk_audit_text"]|upper }}</a></td>
								<td>{{ pop_result["pop_failed"] }}</td>
								<td>{{ pop_result["pop_passed"] }}</td>
								<td>{{ pop_result["pop_exempt"] }}</td>
								<td>{{ pop_result["pop_initial_audit"] | ctime }}</td>
								<td>{{ pop_result["pop_last_audit"] | ctime }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<script>
						// Prettyize the Table
						$(document).ready(function() {
							$('#bypoptable').DataTable();
						} );
					</script>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base_footer.html' %}
