{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<div class="container">
    <div class="row row-eq-height">
        <div class="col-md-12">
            <div class="page-header">
                <h3>By SRVTYPE</h3>
            </div>
            <div class="row placeholders">
                <div id="data_div">
					<table id="bysrvtypetable" class="display" width="100%">
						<thead>
							<tr>
								<td>SRVTYPE</td>
								<td>Audit</td>
								<td>Failed</td>
								<td>Passed</td>
								<td>Exempt</td>
								<td>Initial Audit</td>
								<td>Last Audit</td>
							</tr>
						</thead>
						<tbody>
							{% for srvtype_result in srvtype_results %}
							<tr>
								<td><a href='/jellyfish/display/bysrvtype/{{ srvtype_result["srvtype_text"] }}/'>{{ srvtype_result["srvtype_text"]|upper }}</a></td>
								<td><a href='/jellyfish/display/audit/{{ srvtype_result["fk_audits_id"] }}/'>{{ srvtype_result["fk_audit_text"]|upper }}</a></td>
								<td>{{ srvtype_result["srvtype_failed"] }}</td>
								<td>{{ srvtype_result["srvtype_passed"] }}</td>
								<td>{{ srvtype_result["srvtype_exempt"] }}</td>
								<td>{{ srvtype_result["srvtype_initial_audit"] | ctime }}</td>
								<td>{{ srvtype_result["srvtype_last_audit"] | ctime }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					<script>
						// Prettyize the Table
						$(document).ready(function() {
							$('#bysrvtypetable').DataTable();
						} );
					</script>
					
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'base_footer.html' %}
