{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="/jellyfish/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="container">
	<div class="row row-eq-height">
		<div class="col-md-12">
			<div class="page-header">
				<h3>Patch Dashboard</h3>
			</div>
			<!-- Do one of these for every Audit Given -->
			<div class="row placeholders">
				<div id="data_div">
					<!-- For Loop Here -->
					{% for audit in dash_data %}
						{% set total_servers = audit["passfail"]["acoll_passed"]|default(0, true) + audit["passfail"]["acoll_failed"]|default(0, true) + audit["passfail"]["acoll_exempt"]|default(0, true) + 1  %}
						{% set total_pass_fail = audit["passfail"]["acoll_passed"]|default(0, true) + audit["passfail"]["acoll_failed"]|default(0, true) %}
						{% if total_pass_fail > 1 %}
							<div id='audit{{ audit["audit_id"]}}main' class="col-xs-6 col-sm-4 placeholder pkg-cell" >
								<style>
									
									/* {{ total_servers }}
									{% set pass_hits = (audit["passfail"]["acoll_passed"]|default(0, true)/total_servers * 100)|int %}
									{% set failed_hits = (audit["passfail"]["acoll_failed"]|default(0, true)/total_servers * 100)|int %}
									{% set exempt_hits = (audit["passfail"]["acoll_exempt"]|default(0, true)/total_servers * 100)|int %}
									
									{{ pass_hits }}
									{{ failed_hits }}
									{{ exempt_hits }}
									
									 */
									#audit{{ audit["audit_id"]}}main{
										/* these will reset other properties, like background-position, but it does know what you mean */
										background: white;
										{% if total_servers > 1 : %}
										background: linear-gradient(
												white,
											{% for hit in range(1,failed_hits,1) %}
												#ff9999,
											{% endfor %}
											{% for hit in range(1,pass_hits,1) %}
												#99ffbb,
											{% endfor %}
											{% for hit in range(1,exempt_hits,1) %}
												white,
											{% endfor %}
												white
										);	
										{% endif %}
											
										/*
														[ 'Passed', {{ audit["passfail"]["acoll_passed"]|default('0', true) }} ],
														[ 'Failed', {{ audit["passfail"]["acoll_failed"]|default('0', true) }} ],
														[ 'Exempt', {{ audit["passfail"]["acoll_exempt"]|default('0', true) }} ]
										*/
									}
								</style>
								<div class="pager pkg_label">
									<h2 class="text-center">
										<!-- Link to Audit Details Page -->
										<abbr title='{{ audit["audit_short_description"]|firstx(35) }}...'>
											<a href='/jellyfish/display/audit/{{ audit["audit_id"] }}'>{{ audit["audit_name"]|upper|truncate(20) }}</a>
										</abbr>
									</h2>
									<div class="row pkg_description">
									<p>
										{{ audit["audit_short_description"]|truncate(57) }}
									</p>
									<ul>
										<!-- Hide Summary (and Circle Graph) 
										<li><a id='graphtoggle{{ audit["audit_id"] }}' href="javascript:toggleDiv('summary{{audit["audit_id"] }}')" >Summary</a></li>
										-->
										<!-- Hide Pie Chart -->
										<li><a id='passfailcharttoggle{{audit["audit_id"]}}' href="javascript:toggleDiv('passfailchart{{audit["audit_id"]}}')">Pie</a></li>
										<!-- Hide Hist -->
										<!-- <li><a id='histtoggle{{ audit["audit_id"] }}' href="javascript:toggleDiv('hist{{ audit["audit_id"] }}')" >Hist</a></li> -->
										<!-- Show Audit Priority -->
										<script>
										</script>
									</ul>
								</div>
								<!-- Total Summary -->
								<div id='summary{{audit["audit_id"]}}' class="row" >
									<!-- <div class="col-md-5"> -->
									<h5 align="center"> Total (<a href='/jellyfish/display/audit_table/{{ audit["audit_id"] }}/all'>{{ total_pass_fail }} </a>)</h4>
									<p align="center">
										<a href='/jellyfish/display/audit_table/{{ audit["audit_id"] }}/pass'>{{ audit["passfail"]["acoll_passed"]|default('0', true) }}</a> Passed
										<a href='/jellyfish/display/audit_table/{{ audit["audit_id"] }}/fail'>{{ audit["passfail"]["acoll_failed"]|default('0', true) }}</a> Failed
									</p>
									<!-- </div> -->
								</div>
								<div id='passfailchart{{audit["audit_id"]}}' class="row" style="display:none;">
									{% if audit["passfail"]["acoll_text"] is defined %}
									<div class="text-left col-md-12 ok_versions">
										<script type="text/javascript">
											google.charts.setOnLoadCallback(drawchart{{ audit["audit_id"] }}piechart);
											function drawchart{{ audit["audit_id"] }}piechart () {
												var data = google.visualization.arrayToDataTable([
													[ 'Result', 'Servers'],
													[ 'Passed', {{ audit["passfail"]["acoll_passed"]|default('0', true) }} ],
													[ 'Failed', {{ audit["passfail"]["acoll_failed"]|default('0', true) }} ],
													[ 'Exempt', {{ audit["passfail"]["acoll_exempt"]|default('0', true) }} ]
												]);
												
												var options = {
													title : 'Audit {{ audit["audit_name"] }}',
													colors: ['Green', 'Red', 'Grey'],
													is3D : true
												};
												
												var chart = new google.visualization.PieChart(document.getElementById('piechart{{ audit["audit_id"] }}'));
												
												chart.draw(data, options);
											}
										</script>
									</div>
									<div id='piechart{{ audit["audit_id"] }}' style="opacity:0.85;"></div>
									{% endif %}
								</div>
								<!-- For Each Bucket {{ audit["bucketcount"]|length }}-->
								<!-- No longer displaying Line graph in dashboard
								{% if audit["bucketcount"]|length > 0 %}
								<div id='hist{{audit["audit_id"] }}' class="row" style="display:none;" >
								{% for bucket in audit["bucketcount"] %}
									<div class="col-md-5">
										<script>
											google.charts.setOnLoadCallback(drawchart_{{ audit["audit_id"]}}{{ bucket|replace("-","") }});
								
											function drawchart_{{ audit["audit_id"] }}{{ bucket|replace("-","") }}(){
												var data = google.visualization.arrayToDataTable(({{audit["bucketcount"][bucket]|safe}})) ;
												var options = { title : "Performance for Bucket : {{ bucket|safe}} ",
														legend : { position: 'top' },
														series: {	
															0 : { color: "#ff0000" },
															1 : { color: "#008000" },
															2 : { color: "#808080" }
														},
														is3D : true,
														hAxis: { slantedText:true, slantedTextAngle:15 }
														};
												var chart=new google.visualization.LineChart(document.getElementById('bucketgraph{{ audit["audit_id"]}}{{ bucket|replace("-","") }}'));
									
												chart.draw(data,options);
											}
										</script>
									</div>
									<div id='bucketgraph{{ audit["audit_id"]}}{{ bucket|replace("-","") }}' style="opacity:0.85;" ></div>
								{% endfor %}
								</div>
								{% endif %}
								-->
								
								
								<!-- Per Audit 
								{% if audit["faillist"]|length > 0 %}
								<div class="row">
									<div class="col-md-5">
										<div class="os_label">
											<h4 align="left">Fail Results</h4>
										</div>
									</div>
									<div class="text-left col-md-12 ok_versions">
									<table id='fail_audits{{ audit["audit_id"] }}' class="display" width="100%">
										<thead>
											<tr>
												<td>HostID</td>
												<td>Result</td>
											</tr>
										</thead>
										<tbody>
											{% for failure in audit["faillist"] %}
											 <tr>
												<td><a href='/display/host/{{ failure["fk_host_id"] }}'>{{ failure["fk_host_id"] }}</a></td>
												<td>{{ failure["audit_result_text"] }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<script>
										// Prettyize the Table
										$(document).ready(function() {
											$('#fail_audits{{ audit["audit_id"] }}').DataTable(
											);
										} );
									</script>
									</div>
								</div>
								{% endif %}
								-->
							</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>


{% include 'base_footer.html' %}
