{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<div class="col-sm-12">
    <div class="col-md-10">
        <h1>Man o' War</h1>
        <h2>Description</h2>
        <p>Man o' War is an auditing tool designed to take an invetory of various
        pieces of information on our hosts, track those changes through time
        and run complex audits  based on those collections.</p>
        <h2>Links</h2>
        <ul>
            <li><a href="https://chalbersma.github.io/manowar/">Docs Page</a></li>
        </ul>
    </div>
</div>
{% include 'base_footer.html' %}
