{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="{{ g.config_items["v2ui"]["preroot"] }}/static/css/jellyfish.css" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ g.config_items["v2ui"]["preroot"] }}/static/css/jellyfish_groupings.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
	
</script>

<div class="col-md-10">
    <h1><a href='{{ content["data"][0]["attributes"]["audit_primary_link"] }}' >{{ audit_name|upper }}</a></h1>
    <h2>Description</h2>
    <p>{{ content["data"][0]["attributes"][audit_name]["vuln-short-description"] }}</p>

    <h3>Historical:</h3>
    <div id="main_chart"></div>
    <script>
	    google.charts.setOnLoadCallback(drawchart_main_data);

	    function drawchart_main_data(){

		    $.getJSON("{{ g.config_items["v2api"]["preroot"] }}{{ g.config_items["v2api"]["root"] }}/auditresults/{{ audit_id }}/range/7/?auditResult=pass", function(data){
			    table_info_pass = range_to_gdatatable(data, ["Date", "date"], ["Pass", "hosts"])

			    $.getJSON("{{ g.config_items["v2api"]["preroot"] }}{{ g.config_items["v2api"]["root"] }}/auditresults/{{ audit_id }}/range/7/?auditResult=fail", function(data){
				    table_info_fail = range_to_gdatatable(data, ["Date", "date"], ["Fail", "hosts"])

				    pass_fail_array = merge_arrays_for_gdatatable( [ table_info_pass, table_info_fail ] )

				    window.console.log(pass_fail_array)

				    var data = google.visualization.arrayToDataTable(pass_fail_array) ;
				    var options = { title : "Passing & Failing Servers for Audit {{ content["data"][0]["attributes"]["audit_name"]|upper }}",
								    legend : { position: 'bottom' },
								    series: {
									    0 : { color: "#008000" },
									    1 : { color: "#ff0000" },
									    2 : { color: "#808080" }
								    }
							    };
				    var chart=new google.visualization.LineChart(document.getElementById('main_chart'));
				    chart.draw(data,options);
			    });
		    });

		    populate_group_tables()

	    }
    </script>
    <h3>Links</h3>
    <ul>
        {% for url, link_name in content["data"][0]["attributes"][audit_name]["vuln-additional-links"].items() %}
            <li><a href="{{ url }}">{{ link_name }}</a></li>
        {% endfor %}
            <li><a href="{{ g.config_items["v2ui"]["preroot"] }}/display/v2/auditresults/{{ audit_id }}/?auditResult='fail'">Results Failure</a></li>
            <li><a href="{{ g.config_items["v2ui"]["preroot"] }}/display/v2/auditresults/{{ audit_id }}/">Results All</a></li>
    </ul>

    <h3>Long Description</h3>
    <h4>Audit Priority :  {{ content["data"][0]["attributes"][audit_name]["vuln-priority"] }}</h4>
    <h4>Description of Issue: </h4>
    <pre>
    {{ content["data"][0]["attributes"][audit_name]["vuln-long-description"] }}
    </pre>
    <h3>Host Grouping Information</h3>
    <table class="logic_table" id="host_grouping" style="border: 1px solid black; padding: 10px">
        <tr>
            <th colspan="100%" >Host Groupings</th>
        </tr>
        {% for name, elements in content["data"][0]["attributes"][audit_name]["filters"].items() %}
        {% set colspan = elements["filter-collection-type"]|length + 1 %}
        <tr>
            <th rowspan="{{colspan}}">{{ name }}</th>
            <th>Collection Type</th>
            <th>Collection Subtype</th>
            <th>Match Operation</th>
            <th>Match Value</th>
        </tr>
            {% for idx in range(0, colspan-1) %}
        <tr>
            <td>{{ elements["filter-collection-type"][idx] }}</td>
            <td>{{ elements["filter-collection-subtype"][idx] }}</td>
            {% if elements["filter-match"] is string %}
            <td>{{ elements["filter-match"] }}</td>
            {% else %}
            <td>{{ elements["filter-match"][idx] }}</td>
            {% endif %}
            <td>{{ elements["filter-match-value"][idx] }}</td>
        </tr>
            {% endfor %}
        {% endfor %}
    </table>

    <hr/>

    <table class="logic_table" id="comparisons_grouping" style="border: 1px solid black; padding: 10px">
        <tr>
        <th colspan="100%">Comparison Groupings</th>
        </tr>
        {% for name, elements in content["data"][0]["attributes"][audit_name]["comparisons"].items() %}
        {% set ccolspan = elements["comparison-collection-type"]|length + 1 %}
        <tr>
            <th rowspan="{{ccolspan}}">{{ name }}</th>
            <th>Collection Type</th>
            <th>Collection Subtype</th>
            <th>Match Operation</th>
            <th>Match Value</th>
        </tr>
        {% for idx in range(0, ccolspan-1) %}
        <tr>
            <td>{{ elements["comparison-collection-type"][idx] }}</td>
            <td>{{ elements["comparison-collection-subtype"][idx] }}</td>
            {% if elements["comparison-match"] is string %}
            <td>{{ elements["comparison-match"] }}</td>
            {% else %}
            <td>{{ elements["comparison-match"][idx] }}</td>
            {% endif %}
            <td>{{ elements["comparison-match-value"][idx] }}</td>
        </tr>
        {% endfor %}
        {% endfor %}
    </table>

{% include 'endpoint_link.html' %}

</div>

{% include 'base_footer.html' %}
