{% include 'base_header.html' %}
{% from "error.html" import with_errors %}
<link rel="stylesheet" type="text/css" href="{{ g.config_items["v2ui"]["preroot"] }}/static/css/jellyfish.css" media="screen" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
	google.charts.load('current', {'packages':['corechart']});
</script>
<div class="col-md-10">
<h1>Audits List</h1>
{% if content["data"]|length >= 1 %}
<div id="data_div">
	<table id="auditslist" class="display" width="100%">
		<thead>
			<tr>
				<td>Audit Name</td>
				<td>Priority</td>
			    <td>External Link</td>
			    <td>Short Description</td>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<td>Audit Name</td>
				<td>Priority</td>
			    <td>External Link</td>
			    <td>Short Description</td>
			</tr>
		</tfoot>
		<tbody>
			{% for collection in content["data"] %}
			<tr>
				<td><a href="{{ g.config_items["v2ui"]["preroot"] }}/display/v2/auditinfo/{{ collection["attributes"]["audit_id"] }}/">{{ collection["attributes"]["audit_name"]|lower }}</a></td>
				<td>{{ collection["attributes"]["audit_priority"] }}</td>
				<td><a href="{{ collection["attributes"]["audit_primary_link"] }}">Link</a></td>
				<td>{{ collection["attributes"]["audit_short_description"] }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		// Prettyize the Table
		$(document).ready(function() {

			$('#auditslist tfoot tr td').each( function () {
				var title = $(this).text();
				//console.log(title)
				$(this).html( '<input type="text" placeholder="Search '+title+'" />' );
			} );

			var table = $('#auditslist').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			} );

			table.columns().every( function () {
				var that = this;
				$( 'input', this.footer() ).on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
							default_data=table.rows({ search: 'applied' }).data().toArray()
					}
				} );
			} );
		} );
	</script>
</div>
{% else %}
<p>No Results Found</p>
{% endif %}
{% include 'endpoint_link.html' %}
</div>


{% include 'base_footer.html' %}
